---
import '../styles/global.css';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
const pageTitle = 'Blog';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <Header />
		<h1>{pageTitle}</h1>
  <h2>Lorem blog</h2>
  <ul>
    <li><a href="/posts/post-1/">Post 1</a></li>
    <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
  </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dignissimos exercitationem iure placeat culpa nulla voluptas aut doloremque hic, reprehenderit, quos fugiat a id illo earum praesentium distinctio! Repellat, cupiditate.
        Tempora soluta corrupti explicabo nostrum laborum illo voluptatem obcaecati? Distinctio dolor id ipsam reiciendis quia ad voluptatum perspiciatis, accusamus, quas temporibus modi sed explicabo veritatis, dolorum provident officia deleniti esse.
        Vero fugiat exercitationem, soluta dicta, magnam iusto nesciunt nisi quae laudantium quisquam debitis assumenda minus rerum cum dolores quis maiores? Ducimus perferendis fugiat reiciendis expedita delectus nulla dolor molestias vitae?
        Iusto consectetur rerum nobis hic, beatae suscipit! Voluptatum, porro praesentium enim aliquam repudiandae quas at numquam animi earum saepe dignissimos beatae inventore quisquam officiis cum, obcaecati nobis aspernatur sit nostrum.
        Accusamus esse deserunt optio sint, corporis architecto maiores non id perspiciatis provident, ipsum accusantium voluptatem similique est laudantium reiciendis porro dicta. Maxime possimus commodi iste quasi earum, consectetur laborum totam.
        Inventore porro eligendi distinctio sunt rem necessitatibus obcaecati tenetur quos aperiam excepturi exercitationem repudiandae eum voluptates quae saepe ullam praesentium totam minus consequuntur, consequatur molestiae ducimus veniam vel libero. Animi.
        Laborum quisquam deleniti hic maiores corporis, distinctio excepturi reprehenderit dolorum quaerat sequi accusantium, ea officia a sit nam, nulla facilis quae. Perferendis reprehenderit obcaecati necessitatibus deleniti modi? Similique, quo magnam.
        Laboriosam laudantium, in quaerat, consectetur aut magnam deleniti eligendi pariatur ea, sed odio repellendus repudiandae mollitia consequatur expedita fuga. Impedit deleniti dolorum ratione ipsum, modi minima quae velit vitae consectetur?
        Libero deserunt sed iste pariatur accusantium reiciendis ipsa ad id ullam consequuntur at ab reprehenderit eum natus, possimus quam rerum. Quibusdam quaerat dolores provident sed ipsa molestias est animi? Sint!
        Unde quibusdam expedita perspiciatis iste placeat id fugiat quis, fugit quos ipsam nihil molestiae soluta reiciendis tempore. Error consequuntur fugiat mollitia reiciendis, illo tenetur debitis, perferendis eaque porro rerum expedita?
        Doloribus itaque eaque architecto tenetur beatae necessitatibus mollitia labore soluta? Incidunt consectetur obcaecati repellat quae consequuntur delectus quia aspernatur quisquam libero molestias molestiae necessitatibus nam unde illum, optio et explicabo?
        Incidunt ex, praesentium atque perspiciatis, consequuntur unde nostrum aliquam distinctio, vitae aspernatur provident molestias in quos tempora laborum! Commodi consequatur illo quasi eligendi explicabo similique voluptate suscipit libero ipsum nemo!
        Tempora accusamus, explicabo placeat soluta, id, architecto assumenda repellendus cupiditate fugit iure in sed! Eaque suscipit ipsam reiciendis. Mollitia hic culpa autem minus officia amet! Dolore consequatur consectetur iusto voluptates!
        Facilis, eius? Sint dolores modi vel itaque perferendis! Distinctio esse soluta, recusandae obcaecati ea quod repudiandae, magnam incidunt hic, est fugiat blanditiis quas reiciendis voluptatem vel veritatis odio architecto perferendis!
        Et quae dolore sequi consequuntur, nulla adipisci qui quam animi ipsum, quidem consequatur doloribus incidunt blanditiis officiis eum eaque dignissimos nobis! Aut voluptatibus quia doloremque tempora adipisci placeat nostrum laboriosam!
        Pariatur consequuntur, libero voluptatem cupiditate accusamus architecto molestiae, unde explicabo iusto quis tempora, debitis ab dolore iste? Excepturi sapiente perferendis, earum aspernatur saepe ab quisquam molestiae magnam sed expedita placeat.
        Alias error fugit praesentium at dolore dolores corporis aperiam est repellat. Recusandae, aliquid dolorum. Dignissimos incidunt quasi eveniet, itaque libero ipsa perspiciatis animi unde necessitatibus, dicta, ratione aspernatur error quas.
        Inventore dolorem corporis libero non ullam dolores dignissimos doloribus veritatis totam! Et nemo, ducimus non voluptate omnis facilis reprehenderit sapiente? Temporibus rem, nostrum voluptatum voluptate eos tenetur voluptatem voluptatibus illum!
        Illum dolor maiores sapiente, accusamus ullam magnam non? Modi voluptatem voluptatibus aspernatur corrupti illum quod libero dolores magni veniam autem ad odio nisi tempora molestiae at, et sapiente iste voluptates?
        Quis sequi nostrum soluta totam reiciendis officiis ipsam natus doloribus mollitia illum! Et laudantium hic, quibusdam, consectetur similique, consequatur maiores cupiditate dicta tempora deleniti perferendis. Labore ducimus nobis ipsam ipsum.
        Ad libero, commodi modi tempora vitae repudiandae, doloremque et rem ea consequatur rerum similique inventore? Sequi delectus quos, deleniti dignissimos quae aspernatur neque illum nobis hic repellat autem corporis dolores.
        Tempore error blanditiis ipsam vero? Ullam quaerat recusandae quod! Quae veritatis delectus qui maxime vero, minus harum aut temporibus odit odio, facilis tempora earum veniam similique natus recusandae, nulla eveniet.
        Veniam perferendis doloribus odit provident tempora reiciendis itaque suscipit odio harum. Possimus, nemo magnam. Magnam nihil adipisci quo est ex quod quas, aliquam consectetur, voluptas nemo error dolores laboriosam nisi.
        Quas sequi pariatur officia ipsa repellat consectetur vitae veniam quis quod ipsam provident vero amet, distinctio eligendi doloribus recusandae, necessitatibus rerum natus. Ab excepturi sit deserunt, temporibus cum nisi odit?
        Tempore, libero vitae ut qui consequuntur quisquam totam consectetur et accusamus id corrupti saepe placeat voluptas nobis architecto tenetur? Doloremque, deserunt quasi. Ut ducimus accusamus eveniet quos pariatur cupiditate facere.
        Deserunt earum dolorum sunt quidem provident perspiciatis! Voluptatibus similique quam vero alias laboriosam in aspernatur sint reiciendis quas voluptate, ullam voluptatum! Neque libero nulla accusantium ea exercitationem et magnam eveniet!
        Necessitatibus similique odit deserunt, placeat a deleniti libero reiciendis eos, ratione sapiente laboriosam sequi mollitia vel, commodi distinctio ex optio? Illum, ea. Dolor, expedita sapiente rem doloribus reprehenderit rerum deserunt!
        Earum eum deserunt magni veniam, in autem, est quas suscipit ad rerum dolore similique nam pariatur eos ex ducimus minus, architecto aperiam quis iure maxime perspiciatis ipsa! Sapiente, suscipit nam?
        Quidem repellat perferendis repudiandae commodi soluta quos, nulla tempora, dignissimos odit recusandae iusto ea esse eligendi. Repellendus, mollitia! Libero repudiandae perferendis laborum velit eius aliquam iusto nobis aut cumque ullam?
        Labore sit, eius at quibusdam magni assumenda, perspiciatis veritatis sapiente necessitatibus explicabo rem commodi unde molestiae voluptas rerum mollitia. Aliquid nulla quibusdam quaerat corrupti sed dignissimos illo repellat modi ipsam.
        Harum minus, molestiae, quasi vel culpa, perferendis numquam id debitis consequatur aspernatur nihil saepe labore. Neque dicta impedit blanditiis minus quasi debitis illo, voluptatibus corporis a culpa. Nesciunt, nam quae.
        Magni sit sequi similique voluptatibus voluptates eos ullam mollitia nobis, officia excepturi perferendis totam. Natus doloremque facere aut cumque neque magnam! Itaque adipisci obcaecati perferendis impedit possimus dignissimos tempora cum!
        Eos vero delectus repellat in veniam ad mollitia culpa quibusdam, nulla recusandae sapiente nisi iure perferendis quis ex soluta optio possimus, odit, temporibus quaerat tempora doloremque amet facilis. Illo, illum.
        Cupiditate deleniti accusamus consequatur fugit magni assumenda earum optio voluptate deserunt praesentium, quas, excepturi libero nisi adipisci animi doloremque placeat rerum. Vitae ex ullam in quisquam aliquam, dolorum ipsam nulla.
        Dolorem quod culpa nemo! Modi libero qui, minus earum eos similique itaque architecto voluptatibus, quam error saepe accusamus culpa aspernatur nihil, quo ad id odit numquam sint accusantium placeat quaerat!
        Mollitia consequuntur aut, maiores et iusto molestias ipsa pariatur non sint impedit adipisci ratione recusandae, itaque officiis, fugit nostrum dolores commodi magnam eligendi alias autem eaque perferendis? In, voluptatum adipisci.
        Officiis quidem iusto fugit ducimus. Cumque aut odio cupiditate exercitationem incidunt tempore fugit dignissimos veniam! Incidunt, ipsam. Laborum dicta sapiente atque ratione, incidunt similique illum illo qui. Assumenda, consectetur facilis?
        Animi harum aut ullam veritatis consequuntur ipsam sit labore repudiandae laboriosam. Reiciendis soluta quasi error eaque atque iste vero assumenda ipsa, non quae dolorum dolore sed ea commodi impedit repudiandae.
        Ea omnis ullam optio commodi facilis delectus facere eligendi autem tenetur neque! Eum atque inventore, reprehenderit, commodi veniam sint non labore quae ab similique placeat! Itaque alias nulla voluptatem. A.
        Assumenda magnam, veniam voluptatum quam sint quos distinctio hic. Beatae laborum dolorum, voluptatem similique nihil natus reprehenderit qui iusto cumque. Tempore unde provident officiis omnis accusantium quam earum repellendus rerum!
        Rem error similique exercitationem, cum sequi repellat fugiat quo vel labore itaque nihil possimus nisi repudiandae dolorum dignissimos praesentium vitae deleniti dolor nostrum neque minima accusamus ab quidem temporibus. Veniam!
        Praesentium tenetur odit possimus vel dolorem culpa beatae modi quos sapiente omnis autem unde molestias, aliquid magni saepe qui quidem deserunt ullam cupiditate eligendi laudantium, vitae similique architecto. Accusamus, fugit?
        Quisquam laudantium vel sunt molestias aliquam tempore, cum fugit beatae mollitia, nostrum nihil porro tenetur dicta officiis ut expedita. Quas dignissimos animi autem quia ullam commodi doloribus dolorem, atque vitae!
        Quis tempore molestias mollitia, odio quaerat velit optio ipsum ea eius, quidem accusantium voluptate explicabo recusandae voluptas, quibusdam quisquam nostrum? Inventore alias asperiores dolores. Unde exercitationem quam aliquam repellat voluptatum.
        Ab voluptas velit error possimus recusandae, id quaerat consectetur facere dolores. Ex ipsa adipisci, omnis iste minima eveniet facere ea quisquam nam saepe doloremque eum deserunt. Porro expedita vero sequi?
        Assumenda atque, esse odit asperiores inventore nisi, aut, hic quam quasi quibusdam neque fugit. Odit autem hic at dolorem deleniti, aperiam exercitationem adipisci? Quam ipsa, sequi repudiandae quia ab neque.
        Similique laborum excepturi non iste magnam, soluta incidunt distinctio facere sint cum alias omnis error laudantium debitis magni sequi officia necessitatibus dignissimos perferendis porro quasi cumque? Reiciendis deleniti incidunt similique.
        Molestias sit aliquam nisi animi quae, porro fuga deleniti veritatis necessitatibus soluta quos, voluptatum minima adipisci reprehenderit. Ex dolor quisquam harum. Facere inventore vero animi a labore ipsum eius quod.
        Labore necessitatibus laudantium tempora quia dolores dolore explicabo aut perspiciatis consequuntur, cumque iste neque distinctio tempore alias saepe ut natus iure cum provident ducimus accusantium dicta, quaerat quae ab. Voluptas.
        Provident culpa corporis eos sed fugiat obcaecati ea iste, molestias vitae atque beatae, quaerat corrupti explicabo ex. Tempore distinctio incidunt nesciunt debitis eos. Fugit illo voluptates, error repellendus blanditiis quaerat.</p>
    <Footer/>
    <script>
        import "../scripts/menu.js";
      </script>
    </body>
</html>
